#btnDelete{
  -fx-background-color: tomato;
  -fx-text-fill: #fff;
}

#BtnEdit{
   -fx-background-color: #666f80;
   -fx-text-fill: #fff;
}

#btnSave{
   -fx-background-color: #666f80;
   -fx-text-fill: #fff;
}

#btnCancel{
  -fx-background-color: tomato;
  -fx-text-fill: #fff;
}
