#BtnLogin{
   -fx-background-color: #666f80;
   -fx-background-radius: 50px;
   -fx-border-radius: 50px;
}

#TxtUsername{
     -fx-border: none;
     -fx-border-bottom : 2px solid green;
}

#TxtPassword{
     -fx-border :none;
     -fx-border-bottom : 2px solid green;

}

#BtnLogin:hover{
  -fx-background-color: #5B6371;
}